/* RESETS */
* {
    margin: 0;
    padding: 0;
}

*:not(input), *:focus:not(input) {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}